* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Regular"), local("Quicksand-Regular"),
    url(http://themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvW7O3LdcAZYWl9Si6vvxL-qU.woff)
      format("woff");
}
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-size: 100%;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: #fed578;
  font-size: 62.5%;
  -webkit-tap-highlight-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}
a {
  -webkit-transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 2px 4px;
  margin: 0 -2px;
  text-decoration: none;
}
a:visited {
  color: #000;
}
a:hover {
  color: #404040;
  text-decoration: none;
  background-color: #fff;
}
a:focus {
  outline: thin dotted;
  color: #000;
}
a:hover,
a:active {
  outline: 0;
}
::-moz-selection {
  background-color: hotpink;
  color: #fdb513;
  text-shadow: none;
}
::selection {
  background-color: hotpink;
  color: #fdb513;
  text-shadow: none;
}

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

h1,
h2,
h3 {
  margin: 0;
  color: inherit;
  font-weight: bold;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  margin-bottom: 0.75em;
  line-height: 1.2;
}
h2 {
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 0.75em;
  line-height: 1.2;
}
h3 {
  font-size: 21px;
  font-size: 2.1rem;
  margin-bottom: 1em;
  line-height: 1.3;
}

p,
ol,
ul,
dl,
address {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 1.618em;
}
li ul {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
}

dl,
dd {
  margin-bottom: 1.5em;
}
dt {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.alert {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 1.5em;
  padding: 8px 35px 8px 14px;
  border: 1px solid #f2e187;
  border-radius: 2px;
  background-color: #fcf8e3;
  color: #9c8611;
  text-align: center;
}
.alert.priority1 p {
  font-size: 20px;
}
.alert p {
  text-align: center;
}

form {
  margin: 0 0 1.5em 0;
}
form fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}
form legend {
  display: block;
  margin-bottom: 3em;
  padding: 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #fff4dd;
  color: #000;
  white-space: normal;
  *margin-left: -7px;
}
form legend small {
  font-size: 14px;
  font-size: 1.4rem;
  color: #bfbfbf;
}
form p {
  margin-bottom: 0.75em;
}
form ul {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style-type: none;
}
form br {
  display: none;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-size: 1.4rem;
  vertical-align: baseline;
  *vertical-align: middle;
}
input,
button,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
  display: block;
  margin-bottom: 0.1875em;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
label input,
label textarea,
label select {
  display: block;
}
input,
textarea,
select {
  display: inline-block;
  margin-bottom: 0.375em;
  padding: 4px;
  width: 100%;
  border: 1px solid #fff4dd;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
}
input:hover,
textarea:hover,
select:hover {
  border-color: #fed578;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
  color: #bfbfbf;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
  color: #bfbfbf;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
  color: #bfbfbf;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  margin: 3px 0;
  padding: 0;
  width: auto;
  height: auto;
  border: 0 \9;
  border-radius: 0;
  line-height: normal;
  cursor: pointer;
  *margin-top: 0;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="image"] {
  border: 0;
  box-shadow: none;
}
input[type="file"] {
  padding: initial;
  width: auto;
  border: initial;
  background-color: transparent;
  background-color: initial;
  box-shadow: none;
  line-height: initial;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible;
}
select,
input[type="file"] {
  height: 28px;
  line-height: 28px;
  *margin-top: 4px;
}
select {
  font-size: 13px;
  font-size: 1.3rem;
  width: auto;
  background-color: #fff;
}
select[multiple],
select[size] {
  height: auto;
}
textarea {
  overflow: auto;
  height: auto;
  vertical-align: top;
}
input[type="hidden"] {
  display: none;
}
.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-top: 5px;
  margin-left: -18px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  margin-bottom: 0;
  padding-top: 5px;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  opacity: 0.5;
  cursor: not-allowed;
}
input:focus,
textarea:focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: #fdb513, 40%;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  box-shadow: none;
}

.inner,
nav,
.grid {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.inner:before,
.inner:after,
nav:before,
nav:after,
.grid:before,
.grid:after {
  content: " ";
  display: table;
}
.inner:after,
nav:after,
.grid:after {
  clear: both;
}
@media screen and (max-width: 68em) {
  .inner {
    margin: 0 0.375em;
  }
}
.row {
  *zoom: 1;
  display: block;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .col {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%;
  }
  .col:last-child {
    margin-right: 0;
  }
  .col:first-child {
    margin-bottom: 1.5em;
  }
}
.images li {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: red;
}
.images li:last-child {
  margin-right: 0;
}
.images li:nth-child(4n) {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .images li {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%;
    margin-bottom: 0.75em;
  }
  .images li:last-child {
    margin-right: 0;
  }
}
footer[role="contentinfo"] .inner,
section .inner {
  padding: 1em;
}

.iframe {
  position: relative;
  min-height: 200px;
}
.iframe .ratio {
  display: block;
  width: 100%;
  height: auto;
}
.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header {
  background: transparent url(../img/banner-blur.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}
header h1 {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background-image: url(../img/marigold-logo.png);
  width: 250px;
  height: 250px;
  margin: 10px auto;
}
header h2 {
  color: #fff;
  text-shadow: 0 -1px 8px gray;
  margin: 0.75em 0;
  font-size: 35px;
  font-size: 3.5rem;
}
header nav select {
  width: 100%;
  display: block;
  opacity: 0.7;
}
header nav ul {
  *zoom: 1;
  margin: 0.75em 0;
  padding: 0;
  list-style: none;
  display: none;
}
header nav ul:before,
header nav ul:after {
  content: " ";
  display: table;
}
header nav ul:after {
  clear: both;
}
header nav ul li {
  float: left;
  line-height: 3em;
}
header nav ul li a {
  background-color: #fdb513;
  padding: 0.75em 1.5em;
  margin: 0.75em;
  text-decoration: none;
  border-radius: 4px;
  color: #404040;
}
header nav ul li a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #fc8901;
}

section#about-us,
section#directions,
section#volunteers-and-donations {
  background-color: #fdb513;
}

section#directions .adr {
  margin-bottom: 1.5em;
}
section#directions .adr span {
  display: block;
}
section#images ul {
  padding: 0;
}

footer[role="contentinfo"] {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  section p {
    text-align: left;
  }
  header nav select {
    display: none;
  }
  header nav ul {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
  }
}
