// Reset
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video { margin: 0; padding: 0; outline: 0; border: 0; background: transparent;
vertical-align: baseline; font-size: 100%; }

article, aside, figure, footer, header, hgroup, nav, section { display: block; }

@-webkit-viewport {
	width: device-width; }

@-moz-viewport {
	width: device-width; }

@-ms-viewport {
	width: device-width; }

@-o-viewport {
	width: device-width; }

@viewport {
	width: device-width; }

* {
	@include box-sizing(border-box);
}

html {
	background: $bodycolor;
	font-size: 62.5%;
//	-webkit-overflow-scrolling: touch; // disables scroll to top on ios devices.
	-webkit-tap-highlight-color: lighten($basecolor, 75%);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	@include font-size();
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: transparent;
	color: $textcolor;
	font-family: $basefont;
	line-height: $baselineheight;
}

// Elements

a {
	@include transition(color .2s ease-in-out, background-color .4s ease-in-out);

	color: $linkcolor;
	background-color: transparentize($white, 0.5);
	border-radius: 4px;
	padding: 2px 4px;
	margin: 0 -2px;
	text-decoration: none;

	&:visited {
		color: $linkcolorvisited;
	}

	&:hover {
		color: $linkcolorhover;
		text-decoration: none;
		background-color: $white;
	}

	&:focus {
		outline: thin dotted;
		color: $linkcolorfocus;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

::-moz-selection {
	background-color: hotpink;
	color: $basecolor;
	text-shadow: none; //lighten($basecolor, 65%);
}

::selection {
	background-color: hotpink;
	color: $basecolor;
	text-shadow: none; //lighten($basecolor, 65%);
}

// FIGURES & IMAGES =============================================================================

hr {
	display: block;
	margin: 1em 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid $bordercolor;
	border-bottom: 1px solid $white;
}

// img
img {
	max-width: 100%;
	border-width: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

svg:not(:root) {
	overflow: hidden; }

// figure
figure {
	margin-bottom: $baselineheight;

	img {
		margin-bottom: $baselineheight / 4;
	}

	figcaption {
		@include font-size(14);
		display: block;
		color: $grey;
		font-weight: normal;
	}
}

// javascript

//! collapse
.collapse {
	@include transition(height 0.35s ease);
	position: relative;
	overflow: hidden;
	height: 0;

	&.in { height: auto; }
}
