// Texture

// ALERT ====================================================

[class*=alert] {
	@include font-size(14);
	margin-bottom: $baselineheight;
	padding: 8px 35px 8px 14px;
	border: $alertborderwidth $alertborderstyle $alertbordercolor;
	border-radius: 2px;
	background-color: $alertcolor;
	color: $alerttext;
	font-family: $basefont;
	text-align: center;

	.alert-heading {
		color: inherit;
	}

	.close {
		@include font-size(21);
		position: relative;
		top: -2px;
		right: -21px;
		float: right;
		color: inherit;
		font-weight: bold;
		line-height: 18px;
	}
}

.alert-success {
	border-color: $alertsuccessborder;
	background-color: $alertsuccesscolor;
	color: $alertsuccesstext;
}

.alert-warning {
	border-color: $alertwarningborder;
	background-color: $alertwarningcolor;
	color: $alertwarningtext;
}

.alert-error {
	border-color: $alerterrorborder;
	background-color: $alerterrorcolor;
	color: $alerterrortext;
}

.alert-inverse {
	border-color: $alertinverseborder;
	background-color: $alertinversecolor;
	color: $alertinversetext;
}

// alert block

.alert-block {
	padding-top: 14px;
	padding-bottom: 14px;

	h1, h2, h3, h4 {
		margin-bottom: $baselineheight / 8;
		font-weight: bold;
		font-size: inherit;
	}

	> p,
	> ul {
		margin-bottom: 0;
	}

	p + p {
		margin-top: 5px;
	}
}

// BADGES ====================================================

.label { border-radius: 2px; }
.badge { border-radius: 9px; }

.label,
.badge {
	@include font-size(12);
	@include transition(background-color .2s 0 linear);
	padding: 1px 9px 2px;
	background-color: $badgebackground;
	color: $badgecolor;
	white-space: nowrap;
	font-weight: bold;

	&:hover {
		color: $badgecolor;
		text-decoration: none;
		cursor: pointer; }
	}

	.error {
		background-color: $errorcolor;
		color: $white;

		&:hover {
			background-color: darken($errorcolor, 20%);
			color: $white;
		}
	}

	.warning {
		background-color: $warningcolor;
		color: $white;

		&:hover {
			background-color: darken($warningcolor, 20%);
			color: $white;
		}
	}

	.success {
		background-color: $successcolor;
		color: $white;

		&:hover {
			background-color: darken($successcolor, 20%);
			color: $white;
		}
	}

	.info {
		background-color: $infocolor;
		color: darken($infocolor, 50%);

		&:hover {
			background-color: darken($infocolor, 20%);
		}
	}

	.inverse {
		background-color: $inverscolor;
		color: $white;

		&:hover {
			background-color: darken($inverscolor, 20%);
			color: $white;
		}
	}

[class*=btn] .badge,
[class*=btn] .label {
	@include font-size(8);
	margin-left: 6px;
	vertical-align: top;
}

/* Buttons =================================================== */

[class*=btn] {
	// IE7 inline-block hack
	*zoom: 1;
	padding: 6px 11px 6px;
	margin-bottom: 0;
	font-family: $basefont;
	@include font-size(12);
	font-weight: bold;
	line-height: $baselineheight;
	color: $buttoncolor;
	text-align: center;
	vertical-align: middle;
	@include linear-gradient(50%, $white, $lightergrey, $fallback: $lightergrey);
	@include transition (border 1s ease);
	display: inline-block;
	border: $buttonborderwidth $buttonborderstyle $buttonbordercolor;
	border-bottom-color: $buttonbottombordercolor;
	border-radius: 4px;
	cursor: pointer;
	*display: inline;
	*margin-left: .3em;

	&:hover {
		@include linear-gradient(50%, darken($white, 6%), lighten($lightergrey, 6%));
		border-color: darken($buttonbordercolor, 10%);
		border-bottom-color: darken($buttonbottombordercolor, 10%);
		background: $lightergrey;
		color: $buttoncolor;
		text-decoration: none;
	}

	&:first-child { *margin-left: 0; }
}

// primary
.btn-primary {
	@include linear-gradient(50%, $basecolor, darken($basecolor, 10%));
	border-color: darken($basecolor, 15%);
	border-bottom-color: darken($basecolor, 20%);
	color: $white;

	&:hover {
		@include linear-gradient(50%, lighten($basecolor, 2%), lighten($basecolor, 3%));
		color: $white;
	}
}

// info
.btn-info {
	@include linear-gradient(50%, $infocolor, darken($infocolor, 10%));
	border-color: darken($infocolor, 15%);
	border-bottom-color: darken($infocolor, 20%);
	color: darken($infocolor, 50%);

	&:hover {
		@include linear-gradient(50%, darken($infocolor, 6%), darken($infocolor, 3%));
		color: darken($infocolor, 50%);
	}
}

// success
.btn-success {
	@include linear-gradient(50%, $successcolor, darken($successcolor, 10%));
	border-color: darken($successcolor, 15%);
	border-bottom-color: darken($successcolor, 20%);

	&:hover {
		@include linear-gradient(50%, darken($successcolor, 5%), $successcolor);
	}
}

// warning
.btn-warning {
	@include linear-gradient(50%, $warningcolor, darken($warningcolor, 10%));
	border-color: darken($warningcolor, 15%);
	border-bottom-color: darken($warningcolor, 20%);

	&:hover {
		@include linear-gradient(50%, darken($warningcolor, 10%), lighten($warningcolor, 3%));
	}
}

// error
.btn-error {
	@include linear-gradient(50%, $errorcolor, darken($errorcolor, 10%));
	border-color: darken($errorcolor, 15%);
	border-bottom-color: darken($errorcolor, 20%);
	color: $white;

	&:hover {
		@include linear-gradient(50%, darken($errorcolor, 10%), $errorcolor);
		color: $white;
	}
}

// disabled
.btn-disabled {
	opacity: .6;
	cursor: default;

	&:hover { @include linear-gradient(50%, $white, $lightergrey); }
}

// sizes
.btn-mini {
	@include font-size(9);
	padding: 3px 5px;
	border-radius: 2px;
}
.btn-small {
	@include font-size(11);
	padding: 6px 10px;
	border-radius: 3px;
}
/* .btn-large {
	*padding-top: 7px; */
/* *padding-bottom: 7px; */
.btn-large {
	@include font-size(14);
	padding: 11px 22px;
}
.btn-xlarge {
	@include font-size(21);
	padding: 11px 22px;
}

.btn-block {
	display: block;
	width: 100%;
}

// button groups
.button-group {
	@include clearfix;
	position: relative;
	margin-bottom: $baseline;
	*zoom: 1;
	*margin-left: .3em;
}

.button-group [class*=btn] {
	position: relative;
	float: left;
	margin-left: -3px;
	border-radius: 0;
}

.button-group [class*=btn]:first-child {
	margin-left: 0;
	border-radius: 5px 0 0 5px;
}

.button-group [class*=btn]:last-child {
	border-radius: 0 5px 5px 0;
}

.button-toolbar {
	clear: both;
	margin-top: $baselineheight / 2;
	margin-bottom: $baselineheight / 2;
}

.button-toolbar .button-group {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

// Stacked nav
ul.nav-stacked {
	padding: 0;
	list-style: none;

	li {
		display: block;
		margin: 0;

		a {
			display: block;
			padding: 8px 12px;
			border-width: 0 1px 1px 1px;
			border-style: solid;
			border-color: $white;
			background-color: $lightergrey;
			text-decoration: none;

			&:hover {
				background-color: $lightgrey;
			}

			&.selected {
				background-color: $linkcolor;
				color: $white;
			}
		}

		&:first-child a {
			border-top-width: 1px;
			border-radius: 4px 4px 0 0;
		}
		&:last-child a {
			border-radius: 0 0 4px 4px;
		}
	}
}
