// Variables
@import "bourbon";

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvW7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
// BASE 			==============================

// greyscale
$black 				: rgb(0,0,0);
$darkgrey 			: lighten($black, 25%);
$grey 				: lighten($black, 50%);
$lightgrey 			: lighten($black, 75%);
$lightergrey 		: lighten($black, 90%);
$white 				: rgb(255,255,255);

// TYPOGRAPHY 		==============================

$basefont: $helvetica; /* $helvetica; $georgia; $lucida-grande; $monospace; $verdana; */;
$basefontsize: 16;
$baselineheight: 1.5em;
$baseheadingfont: 'Quicksand', $helvetica;
$baseheadingfontweight: bold;
$baseheadingfontcolor: inherit;

$altfont: $georgia;
$altlineheight: 1.35em;

$codefont: $monospace;

// WIDTH/ MARGINS 	==============================

$baseline: $baselineheight;

//@import "neat/neat-helpers"; // or "neat/neat-helpers" when not in Rails

// Override NEAT default grid settings
//$column: 90px;
//$gutter: 30px;
//$grid-columns: 12;
//$max-width: em(1088);

// Define the breakpoints
$mobile				: 480px;
//$mobile_1			: 690px;
$tablet				: 768px;
$laptop				: 960px;
$desktop			: $max-width;

$grid_mobile		: new-breakpoint(max-width $mobile 6);
//$grid_mobile_1		: new-breakpoint(max-width $mobile_1 6);
$grid_tablet		: new-breakpoint(max-width $tablet 8);
$grid_laptop		: new-breakpoint(max-width $laptop 12);
$grid_desktop		: new-breakpoint(max-width $desktop 12);

// COLOUR 			==============================

$basecolor 			: #fdb513;
$basetint			: #fc8901;
$compcolor 			: lighten($basecolor, 20%); //$basecolor; //adjust-hue($basecolor, 5);
$compcolor2 		: darken($compcolor, 5%); //$basecolor; //adjust-hue($basecolor, 5);
$bordercolor		: lighten($basecolor, 60%);

// Links
$linkcolor	 		: $black; //rgb(40, 140, 189);
$linkcolorhover 	: $darkgrey; //darken($linkcolor, 20);
$linkcolorvisited	: $black; //darken($linkcolorhover, 10);
$linkcolorfocus 	: $black; //darken($linkcolorvisited, 10);

// colour palettes
$alertcolor 		: rgb(252,248,227);
$errorcolor 		: rgb(218,79,73);
$infocolor 			: rgb(217,237,247);
$inverscolor 		: rgb(65,65,65);
$successcolor 		: rgb(91,183,91);
$warningcolor 		: rgb(250,167,50);

// TEXTURE 			==============================

// alert
$alertbordercolor	: darken($alertcolor, 20%);
$alertborderwidth 	: 1px;
$alertborderstyle 	: solid;
$alerttext			: darken($alertcolor, 60%);

// alert-error
$alerterrorcolor 	: lighten($errorcolor, 30%);
$alerterrorborder  	: lighten($errorcolor, 20%);
$alerterrortext 	: $errorcolor;

// alert-info
$alertinfocolor 	: $infocolor;
$alertinfoborder  	: lighten($infocolor, 20%);
$alertinfotext 		: darken($infocolor, 50%);

// alert-inverse
$alertinversecolor 	: $inverscolor;
$alertinverseborder	: $black;
$alertinversetext 	: $white;

// alert-success
$alertsuccesscolor 	: lighten($successcolor, 30%);
$alertsuccessborder	: lighten($successcolor, 20%);
$alertsuccesstext 	: darken($successcolor, 20%);

// alert-warning
$alertwarningcolor 	: lighten($warningcolor, 30%);
$alertwarningborder	: lighten($warningcolor, 20%);
$alertwarningtext 	: darken($warningcolor, 20%);

// badges
$badgebackground 	: $lightergrey;
$badgecolor 		: $grey;

// buttons
$buttonbackground 	: $lightergrey;
$buttonbordercolor 	: darken($buttonbackground, 10%);
$buttonbottombordercolor: darken($buttonbordercolor, 10%);
$buttoncolor 		: $darkgrey;
$buttonborderwidth	: 1px;
$buttonborderstyle	: solid;

// boxes (well)
$wellbackground		: lighten($basecolor, 75%);
$wellbordercolor	: darken($wellbackground, 20%);
$wellborderwidth	: 1px;
$wellborderstyle	: solid;
$wellshadow			: darken($wellbackground, 10%);
$wellshadowblur		: 10px;

// tables
$tablebackground 	: transparent;
$tablestripe 		: lighten($basecolor, 75%);
$tablehover 		: lighten($basecolor, 70%);
$tableborder 		: lighten($basecolor, 40%);
$tableborderwidth	: 1px;
$tableborderstyle	: solid;

// forms
$inputbackground 	: $white;
$inputborder 		: lighten($basecolor, 40%);
$inputborderwidth	: 1px;
$inputborderstyle	: solid;
$inputhover 		: lighten($basecolor, 20%);
$inputfocus 		: $basecolor, 40%;
$placeholdercolor 	: $lightgrey;

// extras
$facebook			: rgb(52, 96, 158);
$twitter			: rgb(78, 145, 206);

$bodycolor: $compcolor;
$textcolor: black;
