// put all your grid breakpoints in here. No style.
// http://neat.bourbon.io/examples/
// Bourbon NEAT uses a desktop down approach

/*
e.g.
.inner,
nav,
section,
.grid {
	@include outer-container;
}

section {
	@include media($grid_desktop) {
		margin: 0 $baseline / 4;
	}
}

article {
	@include span-columns(8);
	border: 1px solid $lightergrey;

	@include media($grid_mobile) {
	  @include span-columns(6);
	}
}
aside {
	@include span-columns(4);

	@include media($grid_mobile) {
		@include span-columns(6);
	}
}

*/

.inner,
nav,
.grid {
	@include outer-container;
}

// pad on small screen
.inner {
	@include media($grid_desktop) {
		margin: 0 $baseline / 4;
	}
}

.row { @include row(); }
.col {
	@include span-columns(6);

	@include media($grid_mobile) {
	  @include span-columns(6);

	  &:first-child {
		  margin-bottom: $baseline;
	  }
	}
}

.images li {
	@include span-columns(3);
	@include omega(4n);
	background-color: red;

	@include media($grid_mobile) {
		@include span-columns(6);
		margin-bottom: $baseline /2;
	}
}
